<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssm.dao.IOrderDao">

	<resultMap type="com.ssm.common.bean.Order" id="Order">
		<id property="id" column="order_id" />
		<result property="cost" column="order_cost" />
		<result property="orderDate" column="orderdate" />
		<result property="customer.id" column="customer_id" />
	</resultMap>

	<select id="findOrderById" parameterType="long" resultMap="Order">
		select * from t_order where customer_id= #{customer_id} order by
		orderdate
	</select>

	<insert id="saveOrder" parameterType="com.ssm.common.bean.Order">
		<selectKey keyColumn="order_id" keyProperty="id" resultType="long"
			order="BEFORE">
			select seq_t_order.nextval from dual
		</selectKey>
		insert into t_order values(
		#{id},
		#{cost},
		#{orderDate},
		#{customer.id})
	</insert>

	<delete id="deleteOrder" parameterType="long" >
		delete from t_order where order_id = #{id}
	</delete>
</mapper>
