<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd">

	<!-- 
		springmvc.xml
		配置springmvc相关信息
		1.注解驱动-扫描注解
		2.视图解析器
		3.多媒体解析器(可选)
		4.静态资源
	 -->
	 <mvc:annotation-driven />
	 <context:component-scan base-package="com.ssm.web.controller"></context:component-scan>
	 
	 <!-- 
	 	internalResourceViewResolver
	 	将逻辑视图转换为物理视图
	  -->
	 <bean name="internalResourceViewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
	 	<!-- 前缀 -->
	 	<property name="prefix" value="/WEB-INF/jsp/"></property>
	 	<!-- 后缀 -->
	 	<property name="suffix" value=".jsp"></property>
	 </bean>
	 
	<!-- 
		locahost:8089/ssm/images/abc/1.jpg
		静态资源配置
	 -->
	 <mvc:default-servlet-handler/>
	<mvc:resources mapping="images/**" location="/images/" />
	<mvc:resources mapping="/js/**" location="/js/" />
	<mvc:resources mapping="/css/**" location="/css/" />
</beans>
